/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15-Mar-2017, 20:47:47
    Author     : Ronan
*/

body{
    background-color: cornflowerblue;
    background: url(images/Bean_Background.jpg);
    background-size: cover;
    background-attachment: fixed;
}

#arena {
    margin: 0 auto;
    margin-top: 50px;
    width: 525px;
    height: 802px;
}

#game-screen {
    border: 1px solid black;
}

#toast {
    position: absolute;
    margin-left: 50px;
    margin-top: 20px;
    width: 300px;
    font: 40px fantasy;
    text-align: center;
    color: #ff6;
    text-shadow: 2px 2px 4px rgb(0,0,0);
    display: none;
    opacity: 0;
    transition: opacity 0.5s;
    z-index: 1;
}

#fps {
    position: absolute;
    margin-top: -2em;
    color: yellow;
    text-shadow: 1px 1px 1px rgb(0, 0, 80);
    /*    opacity: 0;
        transition: opacity 5s;*/
}

#score {
    text-align: center;
    color: yellow;
    text-shadow: 2px 2px 4px rgb(0, 0, 80);
    /*    opacity: 0;*/
    /*    transition: opacity 5s;*/
}

#loading {
    position: absolute;
    margin-top: 80px;
    width: 400px;
    font: 30px comic sans;
    text-align: center;
}

#loading-caption {
    padding-left: 40px;
    padding-bottom: 30px;
    font: 40px fantasy;
    color: #ff6;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
    /*opacity: 0;*/
    display: none;
}

#game-over {
    width: 300px;
    text-align: center;
    position: absolute;
    top: 400px;
    font: 40px fantasy;
    color: #ff6;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
    margin-left: 50px;
    display: none;
}

.keys {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    margin-left: 10px;
    padding-right: 5px;
    padding-bottom:5px;
    display: inline;
}

#instructions{
    margin-left: 50px;
    padding-left: 5px;
    padding-top: 10px;
    height: 2em;
    color: #ff0;
    font-size: 0.95em;
}

.explanation{
    color: #ff0;
    text-shadow: 1px 1px 1px rgba(0,0,200, 0.5);
    display: inline;
    margin-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 2px;
}

#copyright{
    float: right;
    margin-right: 2px;
    margin-top: -2.3em;
    padding: 2px;
    color: blue;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    font-size: 0.85em;
}